<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta charset="utf-8">
  <title>{{.Title}}</title>
</head>

<body>
  <div class="header">
    <header>
      <a href="/">
        <img src="/images/minecraft_logo.jpg" alt="Minecraft Mobs Home" class="home">
      </a>
    </header>
  </div>

  <div class="mobs-solo">
    <div class="mobs-title">
      <h1>{{.Mob}}</h1>
      <img src="/images/Chicken.png" alt="Minecraft Chicken" class="creatures">
      <h3>HitPoints: 4 (
        <img src="/images/Heart.png" alt="HitPoints">
        <img src="/images/Heart.png" alt="HitPoints">
        )
      </h3>
    </div>
    <div class="mobs-content">
      <h3>Spawn</h3>
      <hr>
      <ul>
        <li>Chickens spawn naturally in the overworld.</li>
        <li>Chickens are require two blocks of free space above them.</li>
        <li>Chickens are more common in jungle biomes.</li>
        <li>After world generation chickens spawn individually.</li>
        <li>5% of chickens spawn as babies.</li>
        <li>Chickens require a light level of 7 or more and are found in groups of 2 to 4.</li>
      </ul>
      <h3>Drops</h3>
      <hr>
      <ul>
        <li>0-2 feathers. The maximum is increased by 1 per level of Looting.</li>
        <li>1 raw chicken (1 cooked chicken if killed while on fire). The maximum is increased by 1 per level of Looting.</li>
        <li>1-3 exp when killed by a player of tamed wolf.</li>
        <li>Chickens lay 1 egg every 5 to 10 minutes.</li>
        <li>When they breed they drop 1-7 exp.</li>
        <li>Killing a baby chicken yields no items or exp.</li>
      </ul>
    </div>
  </div>

</body>

</html>
