<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta charset="utf-8">
  <title>{{.Title}}</title>
</head>

<body>
  <div class="header">
    <header>
      <a href="/">
        <img src="/images/minecraft_logo.jpg" alt="Minecraft Mobs Home" class="home">
      </a>
    </header>
  </div>

  <div class="mobs-solo">
    <div class="mobs-title">
      <h1>{{.Mob}}</h1>
      <img src="/images/Slime.png" alt="Minecraft Slime" class="creatures">
      <h3>HitPoints:
        <p style="display:inline">20 (
          <img src="/images/Heart.png" alt="HitPoints">
          x 10)
        </p>
      </h3>
    </div>
    <div class="mobs-content">
      <h3>Spawn</h3>
      <hr>
      <ul>
        <li>WIP</li>
      </ul>
      <h3>Drops</h3>
      <hr>
      <ul>
        <li>WIP</li>
      </ul>
    </div>
  </div>
</body>

</html>
