<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta charset="utf-8">
  <title>Mobs: Creeper</title>
</head>

<body>
  <header>
    <a href="/">
      <img src="/images/minecraft_logo.jpg" alt="Minecraft Mobs Home" class="home">
    </a>
  </header>
  <h1>Creeper</h1>
  <img src="/images/Creeper.png" alt="Minecraft Creeper" class="pig">
  <h3>HitPoints:
    <p style="display:inline">20 (
      <img src="/images/Heart.png" alt="HitPoints">
      x 10)
    </p>
  </h3>
  <h3>Spawn</h3>
  <ul>
    <li>Creepers spawn in the Overworld on solid blocks</li>
    <li>Spawn with a light level of 7 or less</li>
  </ul>
  <h3>Drops</h3>
  <ul>
    <li>5 exp if killed by player or tamed wolf</li>
    <li>0-2 gunpowder (up to 5 with Looting)</li>
    <li>1 random music disc (excluding Pigstep), if killed by a Skeleton</li>
    <li>1 creeper head if killed by a charged creeper</li>
  </ul>

</body>

</html>
