<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>{{.Title}}</title>
</head>

<body>
  <div class="header">
    <header>
      <a href="/">
        <img src="/images/minecraft_logo.jpg" alt="Minecraft Mobs Home" class="home">
      </a>
    </header>
  </div>

  <div class="mobs">
    <h1>{{.Title}}</h1>
    <p>
      Minecraft is a game where mobs are very common. Mobs can be passive or hostile to players.
      <br>
      Players will kill mobs in order to obtain specific drops.
      <br>
      This wiki will show you common mobs in the game and teach you about what they drop.
    </p>
    <div class="nav">
      <h2>Passive Mobs</h2>
      <a href="/Chicken/">
        <img src="/images/ChickenFace.png" alt="ChickenFace">
      </a>
      <a href="/Cow/">
        <img src="/images/CowFace.png" alt="CowFace">
      </a>
      <a href="/Pig/">
        <img src="/images/PigFace.png" alt="PigFace">
      </a>
      <a href="/Sheep/">
        <img src="/images/SheepFace.png" alt="SheepFace">
      </a>
      <a href="/Villager/">
        <img src="/images/VillagerFace.png" alt="VillagerFace">
      </a>
      <h2>Hostile Mobs</h2>
      <a href="/Creeper/">
        <img src="/images/CreeperFace.png" alt="CreeperFace">
      </a>
    </div>
  </div>

</body>

</html>
