<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>{{.Title}}</title>
</head>

<body>
  <div class="header">
    <header>
      <a href="/">
        <img src="/images/minecraft-logo.jpg" alt="Minecraft Mobs Home" class="home">
      </a>
    </header>
  </div>

  <div class="mobs">
    <h1>{{.Title}}</h1>
    <p>
      Minecraft is a game where mobs are very common. Mobs can be passive or hostile to players.
      <br>
      Players will kill mobs in order to obtain specific drops.
      <br>
      This wiki will show you common mobs in the game and teach you about what they drop.
    </p>
    <div class="nav">
      <h2>Passive Mobs</h2>
      <a href="/chicken/">
        <img src="/images/chicken-face.png" alt="ChickenFace">
      </a>
      <a href="/cow/">
        <img src="/images/cow-face.png" alt="CowFace">
      </a>
      <a href="/horse/">
        <img src="/images/HorseFace.png" alt="HorseFace">
      </a>
      <a href="/mooshroom/">
        <img src="/images/MooshroomFace.png" alt="MooshroomFace">
      </a>
      <a href="/pig/">
        <img src="/images/pig-face.png" alt="PigFace">
      </a>
      <br>
      <br>
      <a href="/sheep/">
        <img src="/images/sheep-face.png" alt="SheepFace">
      </a>
      <a href="/snowgolem/">
        <img src="/images/SnowGolemFace.png" alt="SnowGolem">
      </a>
      <a href="/squid/">
        <img src="/images/SquidFace.png" alt="SquidFace">
      </a>
      <a href="/turtle/">
        <img src="/images/TurtleFace.png" alt="TurtleFace">
      </a>
      <a href="/villager/">
        <img src="/images/villager-face.png" alt="VillagerFace">
      </a>
      <h2>Hostile Mobs</h2>
      <a href="/blaze/">
        <img src="/images/blaze-face.png" alt="BlazeFace">
      </a>
      <a href="/creeper/">
        <img src="/images/creeper-face.png" alt="CreeperFace">
      </a>
      <a href="/ghast/">
        <img src="/images/ghast-face.png" alt="GhastFace">
      </a>
      <a href="/magma-cube/">
        <img src="/images/magma-cube-face.png" alt="MagmaCube">
      </a>
      <a href="/skeleton/">
        <img src="/images/skeleton-face.png" alt="Skeleton">
      </a>
      <a href="/slime/">
        <img src="/images/slime-face.png" alt="Slime">
      </a>
      <a href="/zombie/">
        <img src="/images/zombie-face.png" alt="ZombieFace">
      </a>
    </div>
  </div>

</body>

</html>
