<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>{{.Title}}</title>
</head>

<body>
  <div class="navbar">
    <header>
      <a href="/">
        <img src="/images/minecraft-textlogo.png" alt="Minecraft Mobs Home" class="home">
      </a>
    </header>
  </div>

  <div class="mobs">
    <h1>{{.Title}}</h1>
    <p>
      Minecraft is a game where mobs are very common. Mobs can be passive or hostile to players.
      <br>
      Players will kill mobs in order to obtain specific drops.
      <br>
      This wiki will show you common mobs in the game and teach you about what they drop.
    </p>

    <div class="mobfilter">
      <form action="/filter" method="post">
        <div class="mobtypeselect">
          <select name="mobType">
            {{$selected := .MobTypeFilter.Selected}}
            {{range .MobTypeFilter.Options}}
            <option value="{{.}}" {{if eq . $selected}}selected{{end}}>{{.}}</option>
            {{end}}
          </select>
        </div>

<!-- 
        <select name="height" id="height">
          <option value="height">height</option>
          <option value="taller">taller than</option>
          <option value="shorter">shorter than</option>
        </select>
        
        <div id="height-field" hidden>
          <input name="height-field" type="number" id="height"> blocks
        </div>

        <select name="base" id="base">
          <option value="base">base</option>
          <option value="bigger">bigger than</option>
          <option value="smaller" selected>smaller than</option>
        </select>

        <div id="base-field" hidden>
          <input name="base-field" type="number" id="height"> blocks
        </div>
-->

        <input type="submit" value="Apply Filter" class="submit-button">
      </form>
    </div>

    <div class="mobs-faces">
      {{range .Mobs}}
      <a href="/{{makeFilename .}}/">
        <img src="/images/{{makeFilename .}}-face.png" alt="{{makeFilename .}}-face">
      </a>
      {{end}}
    </div>
  </div>
  <div>
    <footer>
      <p>&#169; {{.Year}} Paul Gierl, Yeon Kim, Nolan McShea</p>
    </footer>
  </div>
</body>

<!-- 
<script type="text/javascript">
document.getElementById("height").addEventListener("input", function (event) {
  if (event.target.value === "height") {
    document.getElementById("height-field").hidden = true;
  } else {
    document.getElementById("height-field").hidden = false;
  }
}, false);

document.getElementById("base").addEventListener("input", function (event) {
  if (event.target.value === "base") {
    document.getElementById("base-field").hidden = true;
  } else {
    document.getElementById("base-field").hidden = false;
  }
}, false);
</script>
-->

</html>
