<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>{{.Title}}</title>
  </head>

<body>
  <div class="navbar">
    <header>
      <a href="/">
        <img src="/images/minecraft-textlogo.png" alt="Minecraft Mobs Home" class="home">
      </a>
    </header>
  </div>

  <div class="mobs-solo">
    <div class="mobs-title">
      <h1>{{.Mob}}</h1>
      <img src="/images/{{makeFilename .Mob}}.png" alt="Minecraft {{.Mob}}" class="creatures">
      <h3>
        Hit Points: {{.Content.HitPoints}} (
        {{if gt .Content.HitPoints 10}}
        {{half .Content.HitPoints}} x <img src="/images/heart.png" alt="HitPoints">
        {{else}}
          {{$hp := hearts .Content.HitPoints}}
          {{range $hp}}
          <img src="/images/heart.png" alt="HitPoints">
          {{end}}
          {{end}}
          )
      </h3>
    </div>
    <div class="mobs-content">
      <h3>Spawn</h3>
      <hr>
      <ul>
        {{range .Content.Spawn}}
        <li>{{.}}</li>
        {{end}}
      </ul>
      <h3>Drops</h3>
      <hr>
      <ul>
        {{range .Content.Drops}}
        <li>{{.}}</li>
        {{end}}
      </ul>
      <h3>Behavior</h3>
      <hr>
      <ul>
        {{range .Content.Behavior}}
        <li>{{.}}</li>
        {{end}}
      </ul>
    </div>
  </div>

</body>

</html>
