<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta charset="utf-8">
  <title>{{.Title}}</title>
</head>

<body>
  <div class="header">
    <header>
      <a href="/">
        <img src="/images/minecraft-logo.jpg" alt="Minecraft Mobs Home" class="home">
      </a>
    </header>
  </div>

  <div class="mobs-solo">
    <div class="mobs-title">
      <h1>{{.Mob}}</h1>
      <!-- <img src="/images/Chicken.png" alt="Minecraft Chicken" class="creatures"> -->
      <img src="/images/{{makeFilename .Mob}}.png" alt="Minecraft {{.Mob}}" class="creatures">
      <h3>
        HitPoints: {{.Content.HitPoints}} (
          {{if gt .Content.HitPoints 10}}
            {{half .Content.HitPoints}} x <img src="/images/heart.png" alt="HitPoints">
          {{else}}
            {{$hp := hearts .Content.HitPoints}}
            {{range $hp}}
              <img src="/images/heart.png" alt="HitPoints">
            {{end}}
          {{end}}
        )
      </h3>
    </div>
    <div class="mobs-content">
      <h3>Spawn</h3>
      <hr>
      <ul>
        {{range .Content.Spawn}}
          <li>{{.}}</li>
        {{end}}
      </ul>
      <h3>Drops</h3>
      <hr>
      <ul>
        {{range .Content.Drops}}
          <li>{{.}}</li>
        {{end}}
      </ul>
    </div>
  </div>

</body>

</html>
