<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta charset="utf-8">
  <title>Mobs: Pig</title>
</head>

<body>
  <div class="header">
    <header>
      <a href="/">
        <img src="/images/minecraft_logo.jpg" alt="Minecraft Mobs Home" class="home">
      </a>
    </header>
  </div>

  <div class="mobs-solo">
    <div class="mobs-title">
      <h1>Pig</h1>
      <img src="/images/Pig.png" alt="Minecraft Pig" class="pig">
      <h3>HitPoints:
        <img src="/images/Heart.png" alt="HitPoints">
        <img src="/images/Heart.png" alt="HitPoints">
        <img src="/images/Heart.png" alt="HitPoints">
        <img src="/images/Heart.png" alt="HitPoints">
        <img src="/images/Heart.png" alt="HitPoints">
      </h3>
    </div>
    <div class="mobs-content">
      <h3>Spawn</h3>
      <hr>
      <ul>
        <li>Pigs spawn in groups of 1-4</li>
        <li>Spawn on grassy blocks in lit areas (level >= 7)</li>
        <li>They can also be found in villages</li>
        <li>5% of pigs spawn as piglets</li>
      </ul>
      <h3>Drops</h3>
      <hr>
      <ul>
        <li>1-3 raw porkchop (or cooked if killed while on fire)</li>
        <li>1 saddle if saddled</li>
        <li>1-3 exp if killed by a player or tamed wolf</li>
        <li>Killing a baby pig yields no items nor exp</li>
        <li>Porkchop drops are increased by 1 per level of Looting.</li>
      </ul>
    </div>
  </div>

</body>

</html>
